
<template>
<div>
    <div class="container" id="divEnvForm">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Criação de Formulário</div>

                    <div class="card-body">
                    <FormulateForm
                            #default="{ hasErrors }"
                            @submit="createProps"
                    >
                        <div class="row">

                            <div class="col-md-4">
                                <FormulateInput
                                    type="number"
                                    name="txtQtdInput"
                                    min="1"
                                    validation="required"
                                    v-model="qtdInputText"
                                    validation-name="Quantidade de Campos de Texto"
                                    label="Campos de Texto"
                                    :validation-messages="{
                                        required: 'A Quantidade de Campos de Texto é obrigatória'
                                    }"
                                />
                            </div>
                            <div class="col-md-3">
                                <div class="form-check checks">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        v-model="hasPhone"
                                    >
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Incluir Campo Telefone?
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <FormulateInput
                                    v-model="qtdButton"
                                    :options="{1: '1', 2: '2', 3: '3'}"
                                    type="select"
                                    placeholder="Selecione"
                                    label="Quantidade de Botões"
                                    validation="required"
                                    :validation-messages="{
                                        required: 'A Quantidade de Botões é obrigatória'
                                    }"
                                />
                            </div>
                            <div class="col-md-2">
                                <button
                                    type="submit"
                                    class="btn btn-success btn-lg btn-env"
                                    :disabled="hasErrors"
                                >
                                    Enviar
                                </button>
                            </div>
                        </div>

                </FormulateForm>
                        </div>


                </div>
            </div>
        </div>
    </div>
    <div class="container" id="divConfigFields" style="display:none" >
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Configuração dos Campos</div>

                    <div class="card-body">
                        <FormulateForm
                            #default="{ hasErrors }"
                            @submit="createForm"
                    >

                    <!--  -->
                        <div class="row" v-for="item in inputs">
                            <div class="col-md-3" style="margin-top:30px">
                                <b>{{item.name}}</b>
                            </div>
                            <div  class="col-md-3">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="item.label"
                                    label="Label"
                                    :validation-messages="{
                                        required: 'A Label é obrigatória'
                                    }"
                                />
                            </div>
                            <div  class="col-md-3">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="item.placeholder"
                                    label="Placeholder"
                                    :validation-messages="{
                                        required: 'O Placeholder é obrigatório'
                                    }"
                                />
                            </div>
                            <div  class="col-md-3">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="item.color"
                                    label="Cor"
                                    :validation-messages="{
                                        required: 'A Cor é obrigatória'
                                    }"
                                />
                            </div>
                        </div>

                        <div class="row" v-if="hasPhone">
                            <div class="col-md-3" style="margin-top:30px">
                                <b>Campo Telefone</b>
                            </div>
                            <div  class="col-md-4">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="inputPhone.label"
                                    label="Label"
                                    :validation-messages="{
                                        required: 'A Label é obrigatória'
                                    }"
                                />
                            </div>
                            <div  class="col-md-5">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="inputPhone.color"
                                    label="Cor"
                                    :validation-messages="{
                                        required: 'A Cor é obrigatória'
                                    }"
                                />
                            </div>
                        </div>

                        <div class="row" v-for="itemButton in buttons">
                            <div class="col-md-3" style="margin-top:30px">
                                <b>{{itemButton.name}}</b>
                            </div>
                            <div  class="col-md-4">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="itemButton.label"
                                    label="Label"
                                    :validation-messages="{
                                        required: 'A Label é obrigatória'
                                    }"
                                />
                            </div>
                            <div  class="col-md-5">
                                <FormulateInput
                                    type="text"
                                    validation="required"
                                    v-model="itemButton.color"
                                    label="Cor"
                                    :validation-messages="{
                                        required: 'A Cor é obrigatória'
                                    }"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button
                                    type="submit"
                                    class="btn btn-success btn-lg btn-env"
                                    :disabled="hasErrors"
                                >
                                    Gerar
                                </button>
                            </div>
                        </div>
                    </FormulateForm>

                      </div>

<!--  -->
                    </div>


                </div>
            </div>
        </div>

        <div class="container" id="divGeneratedFields" style="display:none" >
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Campos Gerados</div>
                        <div class="card-body">
                            <div class="row" v-for="item in inputs">
                                <div  class="col-md-12">

                                    <label>{{item.label}}</label>
                                    <input type="text"
                                        v-bind:style="{ color: item.color }"
                                        v-bind:placeholder="item.placeholder"
                                        v-model="item.value"
                                    />
                                </div>
                            </div>

                            <div class="row" v-if="hasPhone">
                                <div class="col-md-12" >
                                    <label>{{inputPhone.label}}</label>
                                        <input type="text"
                                            v-bind:style="{ color: inputPhone.color }"
                                            v-model="inputPhone.value"
                                            v-mask="'(##)####-####'"
                                        />
                                </div>
                            </div>

                            <div class="row" v-for="itemButton in buttons">
                                <div class="col-md-12" >
                                    <button
                                    type="button"
                                    class="btn btn-success btn-lg"
                                     v-bind:style="{ color: itemButton.color }"
                                >
                                    {{itemButton.label}}
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</template>

<script>
    import Vue from 'vue'
    import VueFormulate from "@braid/vue-formulate";
    Vue.use(VueFormulate)
    import VueTheMask from 'vue-the-mask'
    Vue.use(VueTheMask)

    export default {
        data () {
            return {
                qtdInputText: 0,
                hasPhone: false,
                qtdButton: "",
                n:1,
                texts: [],
                inputs:[],
                inputPhone: { color: '', label:'',value:''},
                buttons:[]
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            createProps: function() {
                for(let i=1;i<=this.qtdInputText;++i){
                    this.inputs.push({ name: `Campo Texto ${i}`, color: '', label:'', placeholder:'',value:'' });
                }

                for(let i=1;i<=this.qtdButton;++i){
                    this.buttons.push({ name: `Botão ${i}`, color: '', label:'' });
                }

                document.getElementById("divConfigFields").style.display="block";
                document.getElementById("divEnvForm").style.display="none";

            },
            createForm: function() {

                document.getElementById("divGeneratedFields").style.display="block";
                document.getElementById("divConfigFields").style.display="none";
            }
        }
    }
</script>
